<%= provide(:title, "#{@review.book.title}") %>
    <%= javascript_include_tag 'review'%>


 <div id="review"></div>
<%= link_to "Edit Review", edit_review_path(@review.id), class: "btn btn-primary" %>
